body {
  text-align: center;
  font-family: Helvetica;
}

.main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.main h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.button-nav {
  color: white;
  font-size: 18px;

}
